@import url('https://fonts.googleapis.com/css?family=DM%20Sans');
*{
    margin: 0;
    padding: 0;
}
body{
    display: block;
}
nav{
    display: block;
    unicode-bidi: isolate;
}
.head{
    background-color: #6c67fe;
    height: 90px;
    width: 100vw;
    position: fixed;
    top: 0px;
}
.head>ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 15px;
}
ul{
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40PX;
    unicode-bidi: isolate;
}
img{
    overflow-clip-margin: content-box;
    overflow: clip;
}
.image{
    height: 30px;
    padding: 10px;
}
ul>li{
    list-style: none;
    color:#ffffff;
    font-family:'DM Sans' ;
    font-weight: 400;
    font-size: 25px;
}
li{
    text-align: -webkit-match-parent;
}
.main1{
    display: flex;
    margin-top: 150px;
    margin-right: 85px;
    margin-left: 85px;
    justify-content: center;
}
.image2{
    height: 45vh;
    width: 38vw;
    border-radius: 15px;
}
.input2{
    height: 45vh;
    background-color: #e5d8ff;
    color: rgb(16, 19, 20);
    font-size: 25px;
    border-radius: 15px;
    border-style: none;
    display: block;
    font-family: 'DM Sans';
}
.cards{
    margin: 85px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 89vw;
}
.cards>div{
    border-radius: 10PX;
    height: 100px;
    width: 25vh;
    color: #FFFFFF;
    font-size: 25px;
    font-family: 'DM Sans';
    font-weight: 600;
    padding: 20px;
}
.card1{
    background-color: #929dff;
}
.card2{
    background-color: #734CF2;
}
.card3{
    background-color: #D288FF;
}
.card4{
    background-color: #000000;
}
div.footer{
    margin-top: 170px;
    margin-bottom: -70px;
    margin-left: 85px;
    margin-right: 85px;
    width: 89vw;
    height: 450px;
    background-color: #483EFF;
    display:grid;
    grid-template-columns: 20vw 69vw;
    grid-template-rows: repeat(3,100px);
    row-gap: 40px;
    border-radius: 10px;
}
.item{
    height: 100px;
    width: 20vw;
    margin-top: 30px;
    border-radius: 10px;
}
.item1{
    margin-left: 40px;
    margin-right: 40px;
    background-color: #BCE0F6;
    font-size: 25px;
    font-family: 'DM Sans';
    text-align: center;
    font-weight: 600;
    justify-content: center;
}
.item2{
    margin-left: 40px;
    margin-right: 40px;
    background-color: #FFFFFF;
    font-size: 25px;
    font-family: 'DM Sans';
    text-align: center;
    font-weight: 600;
}
.item3{
    margin-left: 80px;
    background-color: #FFFFFF;
  grid-column: 2/4;
   grid-row: 1/4;
   height: 380px;
   width: 61vw;
   font-size: 25px;
    font-family: 'DM Sans';
    text-align: left;
    font-weight: 600;
}
/*.content{
    margin-top: 60px;
    margin-left: 50px;
    
}*/
#thirteen{
    height: 30vh;
    width: 40vw;
    background-color: #FFFFFF;
    margin-top: 5vh;
    margin-bottom: 10vh;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 2.5vh;
    padding: 4vh;
    line-height: 5vh;
}
/*.box{
    background-color: black;
    height: 50px;
    color: white;
    font-size: 25px;
    font-family: 'DM Sans';
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 70vw;
    border-radius: 10px;
}*/
#next{
    float: inline-end;
    vertical-align: bottom;
    color: #FFFFFF;
    background: #000000;
    margin-bottom: 6vh;
}
.item4{
    margin-left: 40px;
    margin-right: 40px;
    background-color: #FFFFFF;
    font-size: 25px;
    font-family: 'DM Sans';
    text-align: center;
    font-weight: 600;
    border: 4px solid white;
}

.heading{
    font-size: 25px;
    font-family: 'DM Sans';
    font-weight: 700;
    margin-top: 50px;
    margin-left: 30px;
}
.social{
    position: sticky;
    margin-left: 96%;
    bottom: 50%;
}
.logo{
    position:fixed;
    bottom: -26px;
    right: 80px;
}
#s{
    height: 4vh;
    width: 14vw;
    border-radius: 4vh;
}